# Büyük veri dosyaları
data/osmnx_cache/
data/osm_cache/
data/guvenli_izler.db
osmnx_cache/

# Şifreler ve Gizli Dosyalar
.env
.streamlit/secrets.toml

# Gereksiz sistem dosyaları
venv/
__pycache__/
*.pyc
.DS_Store 
data/osmnx_cache/
cache/